
.container{
   justify-content: space-around;

}
.main,.main1,.main2{
   flex-flow: nowrap !important;

   padding-bottom:20px;

  vertical-align: middle;
  display: inline-block;


  overflow-x: scroll;
  overflow-y: hidden;

}
.car{
  padding:15px;
  display:inline-block;
  width:300px;
  height:320px;
}
.image{
  height:150px;
}
.card-img-top{
  width:267px !important;
}
.title{
  font-size: 25px;
  border-bottom: 3px solid grey;
  padding-top: 20px;
  border-width: thin;
  
}

.prev2, .next2,.prev21, .next21,.prev22, .next22 {
  padding-top: 10px;
  padding-bottom: 10px;
  height: 100%;
  margin: 0 auto;
  font-size: 30px;
  cursor: pointer;
  color: black;
  transition: 0.6s linear;

  vertical-align: middle;
}


.next2,.next21,.next22 {
  margin-left: 5px;
  float: right;
  margin-top:125px;

}
.main::-webkit-scrollbar,.main1::-webkit-scrollbar,.main2::-webkit-scrollbar {
    display: none;
}
.prev2,.prev21,.prev22 {
  margin-right: 5px;
  float:left;
  margin-top:125px;


}
.prev2:hover,.prev21:hover, .next2:hover,.next21:hover,.next22:hover,.prev22:hover {
  color: white;
  height: 100%;
  /* //background-color: rgba(0,0,0,0.8); */
}
/* .row
{
  overflow-x:scroll;
} */
@media only screen and (max-width: 768px) {
  .prev2, .next2,.prev21, .next21,.prev22, .next22{
    display:none;
  }
 

}
